@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800&family=Roboto+Slab:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1000px;
}


header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    height: 70px;
    position: fixed;

    z-index: 1000;
    background: white;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .7);

    align-items: center;
}

.logo-image{
    height: 75%;
    width: 60px;
    justify-self:center;
}

.logo-img{
    width: 100%;
    height: 100%;
}

.burger-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30%;
    margin-left: 1rem;
    cursor: pointer;
}

.burger-menu span{
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background: #551a8b;
}

.social-container{
    display: flex;
    justify-content: flex-end;
    margin-right: .4rem;
}

.social-container i{
    font-size: 1.7rem;
    cursor: pointer;
    margin-right: .4rem;
    color: #551a8b;
}

i:hover{
    color: #D53DE3;
}

header nav{
    z-index: 1;
    background: rgba(255, 255, 255, .9);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    height: fit-content;
    display: none;
    transition: all 1s ease;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .2);
    padding-bottom: 1rem;
}

header nav.active{
    display: block;
}

header nav ul li{
    margin-top: 2.5rem;
}


header nav ul li a{
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor: pointer;
    color:#190482;
}

header nav ul li a:hover{
    color: #D53DE3;
}


.hero{
    height: 100vh;
    background-image: url("images/16836366_Blue_and_pink_watercolor_background\ \(1\).jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-image{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img{
    width: 86%;
    height: 80%;
    max-width: 550px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-text a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1.6rem auto 0 auto;
    position: relative ;
    width: fit-content;
}

.hero-text a::before{
    position: absolute;
    content: '';
    width: 90%;
    height: 3px;
    background: white;
    display: block;
    top: 104%;
    left: 50%;
    transform: translateX(-50%);
}

.hero-text a:hover{
    color: #551a8b;
}

.hero-text a:hover::before{
    background: #551a8b;
}

.services-title{
    text-align: center;
    color: #602D99;
    margin: 1rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 40px;
    display: block;
    margin: 1.5rem auto 1rem auto;
    background: rgba(255, 255, 255, 0.815);
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    
}

.services{
    width: 100%;  
}

.services-grid{
    margin:  0 auto;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows:  repeat(6,340px);
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 5px;
  
}

.service-box{
    width: 100%;
    height: 80%;
    align-self: flex-end;
    border-radius: 3px;
}

.service-box:hover .service-img{
    bottom: 10%;
}

.service-box:nth-child(odd){
    box-shadow: 1px 1px 5px #D53DE3;
}

.service-box:hover:nth-child(odd){
    box-shadow: 1px 1px 7px #D53DE3;
}

.service-box:nth-child(even){
    box-shadow: 1px 1px 5px #190482;
}

.service-box:hover:nth-child(even){
    box-shadow: 1px 1px 7px #190482;
}


.service-image{
    width: 100%;
    height: 25%;
    position: relative;
}

.service-img{
    position: absolute;
    width: 40%;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 500ms ease;
}

.service-text{
    width: 100%;
    height: 75%;
    text-align: center;
    position: relative;
    padding: 0 .35rem;
}
.service-text h2,
.news-text h2{
    font-size: 1.4rem;
    width:min-content;
    color: #6532a0;
    margin: 0 auto .4rem auto;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
}

.service-text p{
    color: #150758;
    font-family: 'Montserrat', sans-serif;
}

.service-button{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    padding: .5rem .8rem;
    border: none;
    border-radius: 20px;
    font-size: .80rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .7);
    cursor: pointer;
}

.service-button:hover{
    opacity: .8;
}

.blue-button{
    background: #5DB0E6;
    color: white;
}

.pink-button{
    background: #C54AC1;
    color: white;
}

.map{
    margin-top: 4rem;
    padding: 0 .4rem;
    height: 65vh;
    min-height: 530px;
    width: 100%;
}

.map-flex{
    display: flex;
    flex-direction: column;
    height: 95%;
}
.map h1{
    text-align: center;
    margin: 1rem 0 0 0;
    font-size: 1.8rem;
    color: #6532a0;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
}

.map-image{
    width: 100%;
    height: 37%;
    max-height: 210px;
}

.sacred-image{
    display: none;
}

.map-text{
    height: 55%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mapt-text-locations{
    display: grid;
    grid-template-columns: repeat(2,150px);
    grid-template-rows: repeat(3,52px);
    gap: 1px 2vw;
    margin-top: 1rem;
}

.location{
    display: flex;
}

.location-logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-logo-img{
    width: 60%;
    height: 45%;
}

.location-text{
    height: 100%;
    width: 40%;
   
    display: flex;
    align-items: center;
}

.location-text p,
.location-num{
    margin-top: .2rem;
    font-size: .70rem;
    font-weight: 600;
    color: #150758;
}

.location-num{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.location-num p
{
    margin-right: .5rem;
}

.map-desc{
    text-align: center;
    font-size: .7rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #602D99;
    max-width: 330px;
    font-style: italic;
    text-transform: capitalize;
    margin:  0 auto 1rem auto;
}

.map-img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 360px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .7);
    z-index: 999;
}

.map-text-button{
    margin-top: 1rem;
    padding: .45rem 2rem;
    border: none;
    border-radius: 20px;
    font-size: .80rem;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
    color: white;
    background: #D53DE3;
}

.map-text-button:hover{
    opacity: .8;
}

.events{
    min-height: 600px;
}

.events-header{
    text-align: center;
    margin: 1.8rem 0 1rem 0;
    font-size: 1.8rem;
    color: #6532a0;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    width:min-content;
    margin: 0 auto;
}

.events-list{
    list-style: none; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.event{
    /* background: rgba(245, 245, 245, 0.266); */
    margin: .6rem .5rem ;
    height: 135px;
    max-width: 350px;
    box-shadow: 1px 1px 3px #551a8b;
    display: flex;
    border-radius: 4px;
   
}

.event-image{
    width: 50%;
    /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-img{
    width: 96%;
    height: 90%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    border-radius: 4px;
}

.event-text{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    width: 50%;
    padding: .4rem 0 .4rem .3rem;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 600;
    color: #150758b1;
}

.event-time,
.event-type{
    width: 100%;
    height: 100%;
    display: flex;
}

.event-time-logo,
.event-type-logo{
    display: flex;
    align-items: center;
    justify-content:  flex-start;
    width: 13%;
    
    
}

.event-time-text,
.event-type-text{
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: .2rem;
}

.time-logo{
    font-size: 1.1rem;
}

.camera-logo{
    font-size: .9rem;
}

.location-logo{
    font-size: 1.1rem;
    margin-left: .25rem;
}
.ordered{
    order: 2;
}

@media (min-width: 1024px){


    .map-text-button{
        padding: .45rem 2.5rem;
    }

    .location-text p,
    .location-num{
        margin-top: .2rem;
        font-size: .9rem;
        font-weight: 600;
        color: #602D99;
    }

    .mapt-text-locations{
        display: grid;
        grid-template-columns: repeat(2,220px);
        grid-template-rows: repeat(3,70px);
        gap: 15px;
        margin-top: 0rem;
    }

    .map-desc{
        text-align: center;
        font-size: 1.1rem;
        margin:  0 auto 1rem auto;
        max-width: none;
    }

    .sacred-image{
        display: block;
        position: absolute;
        top: -8.5%;
        left: -8.1%;
        width: 170px;
        height: 170px;
      
        z-index: 1;
    }

    .sacred-img{
        width: 100;
        height: 100%;
    }

    .map h1{
        text-align: center;
        margin: 1rem auto .5rem auto;
        font-size: 3rem;
    }
    
    .map{
        /* background: red; */
        height: 50vh;
        min-height: 500px;
        max-width: 1150px;
        margin: 5rem auto 0 auto;
        padding: 0 1rem;
    }

    .map-flex{
        flex-direction: row;
        height: 75%;
        width: 100%;
        justify-content: space-evenly;
    }

    .map-image{
        position: relative;
        height: 100%;
        width:50% ;    
        /* min-width: 620px; */
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: none;
    }

    .map-img{
        max-height: 330px;
        max-width: 520px;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .7);
        transition: transform 500ms ease;
        cursor: pointer;
    }

    .map-img:hover{
        transform: scale(1.01);
        box-shadow: 1px 1px 6px #551a8b;
    }

    .map-text{
        height: 100%;
        width: 40%;
        padding: 0 .2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .services-title{
        line-height: 70px;
        font-size: 3.5rem;
        width:max-content;
        margin: 4rem auto 1rem auto;
    }

    .services-grid{
        grid-template-columns: repeat(3,300px);
        grid-template-rows:  repeat(2,340px);
        gap: 15px 40px;
    }

    header{
        display: grid;
        grid-template-columns: 200px 1fr 200px;
    }
    
    .burger-menu{
       display: none;
    }

    header nav{
        z-index: 1;
        position: static;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;

        height: 100%;

        padding-bottom: 0;
        box-shadow: none;
    }

    header nav ul{
        list-style: none;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    header nav ul li{
        margin-top: 0px;
        margin-left: 1.2rem;
        height: 100%;
        display: flex;
        align-items: center;
    }

    header nav ul li a{
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .selected a{
        color: #D53DE3;
    }

    .logo-image{
        justify-self:center;
    }

    .social-container{
        justify-self: center;
    }

    .social-container i{
        margin-right: .6rem;
        font-size: 1.6rem;
    }

    .hero-text{
        flex-direction: row;
    }

    .hero-text a{
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }

    .hero-text a:nth-child(2){
        margin-left: 2rem;
    }

    .hero-text a::before{
        height: 3px;
    }

    .hero-image{
        width: 60%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hero-img{
        width: 86%;
        height: 100%;
    }
    

    .hero-link i{
        margin-left: 1rem;
        font-size: 1.3rem;
    }

    

    
    
}